lib/
admin/
android/
test/
assets/
docs/
dist/
scripts/
env/
*.iml
pubspec.yaml
pubspec.lock
analysis_options.yaml
docker-compose.yml
.git/
.github/
**/__pycache__/
**/.dart_tool/
**/build/
**/.venv/
**/*.db
**/.env
